@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background: linear-gradient(to left, rgb(0, 0, 0), rgb(30, 30, 30));
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 10vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: clamp(1rem, 2.2vw, 2.5rem);
}

.title {
  margin: 0;
  padding: 0;
  text-align: center;
  text-wrap-mode: nowrap;
  font-weight: 300;
}

img {
  width: clamp(1.7rem, 4vw, 3.1rem);
}

.main {
  height: 90vh;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-div {
  width: 80%;
  height: 80%;
  border: 2px solid rgba(153, 153, 153, 0.123);
  border-radius: 12px;
}

.game-area {
  width: 100%;
  height: 70%;
}

.game-text {
  padding: 10px;
}

.text-area {
  width: 100%;
  height: 30%;
  border-top: 2px solid rgba(153, 153, 153, 0.123);
  font-weight: 300;
  font-size: 1.8rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.move-div {
  padding-top: 5px;
  width: 100%;
  height: 100%;
  gap: 3px;
  border: 1px solid rgba(153, 153, 153, 0.123);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.move {
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(50% - 3px);
  border: solid 1px rgb(255, 255, 255);
  height: 50%;
  background-blend-mode: darken;
  background-size: cover;
  color: rgb(0, 0, 0);
  font-size: 1.7rem;
  font-weight: 600;
  cursor: pointer;
}

.play-btn {
  width: 46%;
  padding: 5px 0;
  margin: 5px 0;
  font-size: 1.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.move-btn:hover,
.play-btn:hover {
  transform: scale(1.07);
}

.input {
  margin: 15px;
  width: 40%;
  font-size: 1.7rem;
  text-align: center;
}
