@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background: linear-gradient(to left, rgb(0, 0, 0), rgb(30, 30, 30));
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 10vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.8rem;
}

.title {
  margin: 0;
  padding: 0;
  text-align: center;
  text-wrap-mode: nowrap;
  font-weight: 300;
}

img {
  width: 2.5rem;
}

.main {
  height: 90vh;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-div {
  width: 80%;
  height: 80%;
  border: 2px solid rgba(153, 153, 153, 0.123);
  border-radius: 12px;
}

.game-area {
  width: 100%;
  height: 75%;
}

.text-area {
  width: 100%;
  height: 25%;
  border-top: 2px solid rgba(153, 153, 153, 0.123);
  padding: 15px;
  font-weight: 300;
  font-size: 1.6rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3%;
}

.move-div {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.move-btn {
  width: 20%;
  padding: 5px 0;
  font-size: 1.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.move-btn:hover {
  transform: scale(1.07);
}
