@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background: linear-gradient(to left, rgb(0, 0, 0), rgb(30, 30, 30));
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  padding: 2vh;
  height: fit-content;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1rem, 2.2vw, 2.5rem);
}

.pokeball {
  width: clamp(1.7rem, 4vw, 3.1rem);
  height: clamp(1.7rem, 4vw, 3.1rem);
}

.title {
  margin: 0;
  padding: 0;
  text-align: center;
  text-wrap-mode: nowrap;
  font-weight: 300;
}

.main {
  height: 90vh;
  background: transparent;
  display: flex;
  flex-direction: column;
  margin-top: 4;
  align-items: center;
}

.game-div {
  width: 80%;
  height: 80%;
  border-radius: 12px;
}

.game-area {
  width: 100%;
  height: 65%;
  background-image: url("../images/scene.jpg");
  background-size: cover;
  padding-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-text {
  padding: 14px;
  height: 100%;
  width: 100%;
  z-index: 30;
}

.text-area {
  width: 100%;
  height: fit-content;
  border-top: 2px solid rgba(153, 153, 153, 0.123);
  font-weight: 300;
  font-size: clamp(1.4rem, 2.4vw, 2.2rem);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.move-div {
  padding-top: 5px;
  width: 100%;
  height: 100%;
  min-height: 200px;
  gap: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.move {
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(50% - 3px);
  min-height: 80px;
  height: 13vh;
  border: solid 1px rgb(255, 255, 255);
  background-blend-mode: darken;
  background-size: cover;
  color: rgb(0, 0, 0);
  font-size: clamp(1.4rem, 2.3vw, 2.1rem);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.move:hover {
  font-size: clamp(1.7rem, 2.7vw, 2.5rem);
}

.play-btn {
  width: 25vw;
  min-width: 180px;
  padding: 5px 0;
  margin: 5px 0;
  font-size: 1.5rem;
  border: 1px solid white;
  border-radius: 15%;
  cursor: pointer;
  transition: all 0.9s ease-in-out;
  animation: bounce 5s infinite;
}

.play-btn:hover {
  background: linear-gradient(to right, rgb(199, 199, 199), grey);
}

.input {
  margin: 15px;
  width: 40%;
  min-width: 370px;
  font-size: clamp(1.4rem, 2.3vw, 2.1rem);
  text-align: center;
}

.user-pokemon,
.game-pokemon {
  z-index: 20;
}

.user-pokemon-div {
  margin-right: 30%;
  height: 60%;
  width: auto;
}

.user-pokemon {
  height: 100%;
  width: auto;
}

.game-pokemon-div {
  margin-left: 30%;
  height: 50%;
  width: auto;
}

.game-pokemon {
  height: 100%;
  width: auto;
}

.info {
  color: white;
}

@keyframes bounce {
  0% {
    transform: rotate(0deg) scale(1.1) translateY(0);
  }
  50% {
    transform: rotate(3deg) scale(1) translateY(15px);
  }
  100% {
    transform: rotate(0deg) scale(1.1) translateY(0);
  }
}

@media (orientation: portrait) {
  .user-pokemon {
    height: 70%;
  }

  .game-pokemon {
    height: 80%;
  }

  .input {
    min-width: 280px;
  }
}
